# ============================================
# Arquivos compilados Java
*.class
*.jar
*.war
*.ear

# Diretório de build do Maven
/target/

# Arquivos de configuração de IDEs
# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VSCode
.vscode/

# Outros arquivos e diretórios temporários
.DS_Store
Thumbs.db
*.log

# Arquivos de banco de dados H2
*.mv.db
*.trace.db
*.log.db

# Arquivos de backup
*.zip
*.tar
*.gz
*.bak
